{% extends 'base.html' %}

{% block title %}Let's play a game!{% endblock %}

{% block content %} 

  <form action="/madlib">
    	Let's play!<br>
    	Input a person: <input type="text" name="person"><br>
    	Choose a color: <select name="color">
			{% for color in colors %}
			<option value="{{color}}">{{color}}</option>
			{% endfor %}
			
		</select><br>
		Noun: <input type="text" name="noun"><br>
		Adjective: <input type="text" name="adjective"><br>
    	<input type="submit">
    </form>
{% endblock %}