
<!doctype html>
<html>
<head>
  <title>Let's play a game</title>
</head>
<body>
    <form action="/madlib">
    	Let's play!<br>
    	Input a person: <input type="text" name="person"><br>
    	Choose a color: <select name="color">
			<option value="yellow">Yellow</option>
			<option value="blue">Blue</option>
			<option value="red">Red</option>
		</select><br>
		Noun: <input type="text" name="noun"><br>
		Adjective: <input type="text" name="adjective"><br>
    	<input type="submit">
    </form>
</body>
</html>